name: Publish the demo-project package
on: [push]
jobs:
  Publish-The-Package:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    env:
      SECRET: ${{ secrets.DO_SPACES_SECRET }}
      KEY: ${{ secrets.DO_SPACES_KEY }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: Get abbreviated hash of the last commit
        run: |
          echo "abbreviated_commit_hash=$(git log -1 --pretty=format:%h)" >> $GITHUB_ENV
      - name: Print the abbreviated commit hash
        run: |
          echo "${{ env.abbreviated_commit_hash }}"
      - name: Pack the package
        run: yarn pack --filename demo-project-{{env.abbreviated_commit_hash}}.tgz
      - name: Install dependencies
        run: yarn
      - name: Publish the package
        env:
          PKG_NAME: "demo-project-{{env.abbreviated_commit_hash}}.tgz"
        run: node scripts/publish-package.sh
